<ion-header>
  <ion-toolbar>
    <ion-title>profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-avatar>
        <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
      </ion-avatar>
      <ion-col>
        <b>6</b>
        <small class="margin0">Publications</small>
      </ion-col>
      <ion-col [routerLink]="['profil/subscribers']">
        <b>253</b>
        <small class="margin0">Abonnés</small>
      </ion-col>
      <ion-col [routerLink]="['profil/subscribers']">
        <b>185</b>
        <small class="margin0">Abonnements</small>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text>
    <h5>Maxence Bannier</h5>
  </ion-text>

  <ion-button [routerLink]="['profil/edit']" class="modif_button" size="small">Modifier le profil</ion-button>

  <ion-grid class="img_profil">
    <ion-row>
      <ion-col class="img">
        <img src="../../../assets/icon/logo.png">
      </ion-col>
      <ion-col [routerLink]="['/post']" class="img">
        <img src="../../assets/icon/ski.jpg">
      </ion-col>
      <ion-col class="img">
        <img src="../../assets/icon/chat1.jpg">
      </ion-col>
      <!-- <ion-col class="img">
        <img src="../../assets/icon/chat1.jpg">
      </ion-col> -->
    </ion-row>
  </ion-grid>

  <ion-button color="danger" [routerLink]="['/auth/login']" expand="block">Deconnexion</ion-button>

</ion-content>
