<ion-header>
  <ion-toolbar>
    <ion-title>subscribers / subscriptions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-icon class="arrow_icon" [routerLink]="['/profil']" name="arrow-back-outline"></ion-icon>

  <!-- <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="friends">
      <ion-label>Abonnés</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>Abonnements</ion-label>
    </ion-segment-button>
  </ion-segment> -->

  <ion-segment color="primary" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
    <ion-segment-button value="abonnes" checked>
      <ion-label>Abonnés</ion-label>
    </ion-segment-button>
    <ion-segment-button value="abonnements">
      <ion-label>Abonnements</ion-label>
    </ion-segment-button>
  </ion-segment>

<div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'abonnes'">
      <ion-item *ngFor="let item of [].constructor(20); let i = index">
        <ion-avatar class="ion-margin-end">
          <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
        </ion-avatar>
        <h6>abonné - {{ i }}</h6>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'abonnements'">
      <ion-item *ngFor="let item of [].constructor(20); let i = index">
        <ion-avatar class="ion-margin-end">
          <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
        </ion-avatar>
        <h6>abonnement - {{ i }}</h6>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
