<ion-header>
  <ion-toolbar>
    <ion-title>post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-icon class="arrow_icon" [routerLink]="['/profil']" name="arrow-back-outline"></ion-icon>

  <ion-card *ngIf="data">
    <ion-card-subtitle class="title_card">
      <ion-avatar class="avatar">
        <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
      </ion-avatar>
      <h5> {{ data.username }} </h5>
    </ion-card-subtitle>

    <ion-card-content>
      {{ data.description }}
    </ion-card-content>

    <div class="img_post">
      <img src="../../assets/icon/ski.jpg">
    </div>

    <div class="like_com">
      <div class="align">
        <ion-icon (click)="likeToast()" name="heart-outline"></ion-icon>
        {{ data.like }}
      </div>

      <div class="align">
        <ion-icon name="chatbubble-outline"></ion-icon>
        {{ data.com }}
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">Laisser un commentaire</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button (click)="comToast()" class="com_button" size="small">Commenter</ion-button>
</ion-card>
</ion-content>
